.slider-dishes {
  position: relative;
  width: 100%;
  padding: 50px 0px 100px 0px;
  background: url("../../../images/slider/slider-bg.jpg") no-repeat center;
  background-size: cover;

  &__title {
    @include font-settings(1.6rem, 1.2, 400, $first-font-color);
    text-transform: uppercase;
    letter-spacing: 7px;
    text-align: center;
    margin-bottom: 40px;
  }
}

.aws-btn {
  --slider-height-percentage: 60%;
  --slider-transition-duration: 700ms;
  --organic-arrow-thickness: 7px;
  --organic-arrow-border-radius: 0px;
  --organic-arrow-height: 36px;
  --organic-arrow-color: #f7c618;
  --control-button-width: 7%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: #eff4fb;
  --control-bullet-active-color: #edb10c;
  --loader-bar-color: #851515;
  --loader-bar-height: 6px;
}
