// FONTS
$base-font: 'Montserrat', 'Arial', sans-serif;
$second-font: 'Kaushan Script';

//FONT COLORS
$first-font-color: #fff;
$second-font-color: #000000;
$nav-link-hover:#ffd600;

//  COLORS
$body-color: #fff;

//media
$mobile-bp-max: 767px;
$mobile-w-min: 310px;

$tablet-bp-min: 768px;
$tablet-w: 920px;
$tablet-bp-max: 1279px;

$desktop-bp-min: 1280px;
$desktop-w: 1280px;
