.social-nav {
  max-width: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 85px;
}

.social-nav__link {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  & > svg {
    width: 30px;
    height: 30px;
  }
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  &:hover .ico-social {
    fill: #e8c300;
  }
}

.ico-social {
  fill: #ffffff;
  transition: color 0.3s ease-in;
}
